doc/*.aux
doc/*.dvi
doc/*.log
doc/*.out
doc/*.toc
doc/bib.pl
exe/*
extras/*
obj/*
doxy/*
temp/*
xcode/*
build
agama.egg-info/*
.cache
*.pyc
*.so
*.a
.DS_Store
Makefile.local
compile_commands.json
dev/data
dist/*
